body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 20px;


}

.anchorBtn:hover{
color: brown;
background-color: black;
}


.anchorBtn:visited{

    color: green;
}


.anchorBtn:link{

    color: aqua;
}

.anchorBtn:active{
    color: black;
    background-color:white;
    border: 4px solid greenyellow;

}

ol li:first-child{

    color: blueviolet;
}


ol li:last-child{

    color: brown;
}


/*nth-child*/
/* an+b */
/* n stats from zero */

ol li:nth-child(2n + 1 ){

    color: cyan;
}

/*Pseudo-Element*/

h2::first-letter{

    font-size: larger;
    background-color: yellow;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Paralorem::first-letter{

    
    font-size: larger;
    background-color: yellow;
    font-weight: 600;
    font-family: 'Lucida Sans'
}

.Paralorem::first-line{

    color:palevioletred;
}

::selection{

    background-color: black;
    color: greenyellow;
}
/*Before and after pseudo element*/
h3::before{

    content: "Hello-Css ";
    color: yellow;
}

h3::after{

    content: "*";
    color: red;
}