.container{

    position:absolute;
    width: 100px;
    height: 100px;
    top: 20%;
    left: 20%;
    background-color: crimson;
    /*transform:scale(1.5,3.4)8*/
    /*transform:translate(10%,100px)*/
    /*transition: 1s ease;*/
    /*transition: 1s ease-in;*/
    transition:  height 1s ease-in-out 0.3s;
    
}


.container:hover{
height: 450px;
width: 450px ;
   
}